.react-slideshow-arrow {
  width: 40px;
  position: fixed;
  left: 100px;
}

.slideshow-container {
  max-width: 800px !important;
}

.react-slideshow-pagination__wrapper .react-slideshow-container div {
  width: 200px !important;
}
